body{
    background-color: black;
    color: rgb(10, 9, 9);
}

nav>ul>li{
    color: rgb(60, 178, 224);
}

article{
   color: rgb(51, 182, 51); 
}

#tituloblog{
    text-align: center;
    font-size: 3rem;
}